
```
1. Sales Data Analysis Use Case
```
Operations:

*   Count total sales per product category.

*   Calculate the total revenue generated by each sales representative.
*   Find the product with the highest sales.


*   Group data by sales regions and calculate average sales.

In [6]:
import pandas as pd

data = {
    'Product': ['Laptop', 'Mobile', 'Tablet', 'Shirt', 'Shoes', 'Tablet', 'Laptop', 'Shoes', 'Shirt'],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Clothing', 'Footwear', 'Electronics', 'Electronics', 'Footwear', 'Clothing'],
    'SalesRep': ['Alice', 'Bob', 'Alice', 'Charlie', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
    'Region': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North'],
    'UnitsSold': [5, 10, 3, 12, 7, 4, 6, 9, 11],
    'Price': [50000, 20000, 15000, 2000, 3000, 16000, 51000, 3500, 2500]
}

# Create DataFrame
df = pd.DataFrame(data)
print(df)
print("------------------------------------------------------------------")



# Count total sales per product category.

df['SalesAmount'] = df['UnitsSold']*df['Price']

category_sales = df.groupby('Category')['UnitsSold'].sum()
print("1. Total sales per product category:")
print(category_sales)
print("------------------------------------------------------------------")


category_total_revinue = df.groupby('Category')['SalesAmount'].sum()
print("Total sales amount per product category:")
print(category_total_revinue)
print("------------------------------------------------------------------")

#Calculate the total revenue generated by each sales representative.

sales_rep_revenue = df.groupby('SalesRep')['SalesAmount'].sum()
print("2. Total revenue generated by each sales representative:")
print(sales_rep_revenue)
print("------------------------------------------------------------------")

#Find the product with the highest sales.

#prodct_sales = df.groupby('Product')['SalesAmount'].sum()
#top_sold = prodct_sales.idxmax()
highest_salary_emp = df.loc[df['SalesAmount'].idxmax() , ['Product','SalesAmount']]

print(" 3. Product with the highest sales:")
print(highest_salary_emp)
print("------------------------------------------------------------------")

#Group data by sales regions and calculate average sales.

region_salse = df.groupby('Region')['SalesAmount'].mean()
print("4. Average sales per region:")
print(region_salse)
print("------------------------------------------------------------------")

  Product     Category SalesRep Region  UnitsSold  Price
0  Laptop  Electronics    Alice  North          5  50000
1  Mobile  Electronics      Bob  South         10  20000
2  Tablet  Electronics    Alice   East          3  15000
3   Shirt     Clothing  Charlie   West         12   2000
4   Shoes     Footwear      Bob  North          7   3000
5  Tablet  Electronics  Charlie  South          4  16000
6  Laptop  Electronics    Alice   East          6  51000
7   Shoes     Footwear      Bob   West          9   3500
8   Shirt     Clothing  Charlie  North         11   2500
------------------------------------------------------------------
1. Total sales per product category:
Category
Clothing       23
Electronics    28
Footwear       16
Name: UnitsSold, dtype: int64
------------------------------------------------------------------
Total sales amount per product category:
Category
Clothing        51500
Electronics    865000
Footwear        52500
Name: SalesAmount, dtype: int64
------------------------------------------------------------------
2. Total revenue generated by each sales representative:
SalesRep
Alice      601000
Bob        252500
Charlie    115500
Name: SalesAmount, dtype: int64
------------------------------------------------------------------
 3. Product with the highest sales:
Product        Laptop
SalesAmount    306000
Name: 6, dtype: object
------------------------------------------------------------------
4. Average sales per region:
Region
East     175500.0
North     99500.0
South    132000.0
West      27750.0
Name: SalesAmount, dtype: float64
------------------------------------------------------------------



```
2. Employee Data Analysis Use Case
```
Operations:

*   Count the number of employees per department.

*   Find the employee with the highest salary.
*   Calculate average salary per department.


*   Sort employees based on their performance score or salary.

In [5]:
 import pandas as pd

 data = {
    'Employee': ['Anuj', 'Manuj', 'Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Department': ['IT', 'IT', 'HR', 'Finance', 'HR', 'Finance', 'IT', 'Finance'],
    'Salary': [70000, 72000, 65000, 60000, 68000, 75000, 71000, 64000],
    'PerformanceScore': [85, 90, 80, 70, 88, 92, 86, 75]
}

# Create DataFrame
df = pd.DataFrame(data)
df

print("------------------------------------------------------------------")

#Count the number of employees per department.
emp_per_dept = df.groupby('Department')['Employee'].count()
print("1. Number of employees per department:")
print(emp_per_dept)
print("------------------------------------------------------------------")

#Find the employee with the highest salary.

highest_salary_emp = df.loc[df['Salary'].idxmax() , ['Employee','Salary']]
print("2. Employee with the highest salary:")
print(highest_salary_emp)
print("------------------------------------------------------------------")


#Calculate average salary per department.

avg_sal_per_dept = df.groupby('Department')['Salary'].mean()
print("3. Average salary per department:")
print(avg_sal_per_dept)
print("------------------------------------------------------------------")

#Sort employees based on their performance score or salary.

sorted_by_per = df.sort_values(by='PerformanceScore', ascending=False)
print("4. Employees sorted by performance score:")
print(sorted_by_per)
print("------------------------------------------------------------------")

sort_per_sal = df.sort_values(by='Salary', ascending=False)
print("4. Employees sorted by salary:")
print(sort_per_sal)
print("------------------------------------------------------------------")

------------------------------------------------------------------
1. Number of employees per department:
Department
Finance    3
HR         2
IT         3
Name: Employee, dtype: int64
------------------------------------------------------------------
2. Employee with the highest salary:
Employee    David
Salary      75000
Name: 5, dtype: object
------------------------------------------------------------------
3. Average salary per department:
Department
Finance    66333.333333
HR         66500.000000
IT         71000.000000
Name: Salary, dtype: float64
------------------------------------------------------------------
4. Employees sorted by performance score:
  Employee Department  Salary  PerformanceScore
5    David    Finance   75000                92
1    Manuj         IT   72000                90
4  Charlie         HR   68000                88
6      Eva         IT   71000                86
0     Anuj         IT   70000                85
2    Alice         HR   65000                80
7    Frank    Finance   64000                75
3      Bob    Finance   60000                70
------------------------------------------------------------------
4. Employees sorted by salary:
  Employee Department  Salary  PerformanceScore
5    David    Finance   75000                92
1    Manuj         IT   72000                90
6      Eva         IT   71000                86
0     Anuj         IT   70000                85
4  Charlie         HR   68000                88
2    Alice         HR   65000                80
7    Frank    Finance   64000                75
3      Bob    Finance   60000                70
------------------------------------------------------------------


```
3. Student Performance Analysis Use Case
```
Operations:

*   Count the number of students per class/grade.

*   Calculate the average marks per subject.
*   Find the student with the highest overall score.


*   Identify students who scored below the passing mark in any subject.

In [ ]:
import pandas as pd

# Sample student dataset
data = {
    'Student': ['Anuj', 'Manuj', 'Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Class': ['10A', '10A', '10B', '10B', '10A', '10C', '10C', '10B'],
    'Math': [85, 90, 75, 60, 55, 95, 70, 40],
    'Science': [88, 92, 78, 65, 58, 96, 72, 45],
    'English': [80, 85, 70, 68, 50, 94, 74, 42]
}

# Create DataFrame
df = pd.DataFrame(data)
df

#Count the number of students per class/grade.

std_per_class = df.groupby('Class')['Student'].count()
print("1. Number of students per class:")
print(std_per_class)
print("------------------------------------------------------------------")

#Calculate the average marks per subject.


avg_per_sub = df[['Math','Science','English']].mean()
print("2. Average marks per subject:")
print(avg_per_sub)
print("------------------------------------------------------------------")

#Find the student with the highest overall score.
df['overall_Score' ] = df['Math'] + df['Science'] + df['English']
hig_score_std = df.loc[df['overall_Score'].idxmax(), ['Student','overall_Score']]
print("3. Student with the highest overall score:")
print(hig_score_std)
print("------------------------------------------------------------------")

#Identify students who scored below the passing mark in any subject.

passing_marks = 50

failed_student = df.loc[
    (df['Math']<passing_marks)|
    (df['Science'] < passing_marks)|
    (df['English'] < passing_marks),
    ['Student', 'Math','Science','English']

]
print("4. Students who scored below the passing mark in any subject:")
print(failed_student)
print("------------------------------------------------------------------")

1. Number of students per class:
Class
10A    3
10B    3
10C    2
Name: Student, dtype: int64
------------------------------------------------------------------
2. Average marks per subject:
Math       71.250
Science    74.250
English    70.375
dtype: float64
------------------------------------------------------------------
3. Student with the highest overall score:
Student          David
overall_Score      285
Name: 5, dtype: object
------------------------------------------------------------------
4. Students who scored below the passing mark in any subject:
  Student  Math  Science  English
7   Frank    40       45       42
------------------------------------------------------------------



```
4. E-commerce Orders Analysis Use Case
```
Operations:

*   Count total orders per customer.

*   Find the customer who placed the highest number of orders.
*   Calculate revenue generated per product.


*   Identify the top 5 selling products.

In [8]:
import pandas as pd

# Sample e-commerce dataset
data = {
    'OrderID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Customer': ['Anuj', 'Manuj', 'Alice', 'Bob', 'Alice', 'David', 'Eva', 'Anuj', 'Charlie', 'Alice'],
    'Product': ['Laptop', 'Mobile', 'Tablet', 'Laptop', 'Mobile', 'Shoes', 'Shirt', 'Laptop', 'Shoes', 'Tablet'],
    'Quantity': [1, 2, 1, 1, 3, 2, 4, 1, 1, 2],
    'Price': [50000, 20000, 15000, 52000, 21000, 3000, 2000, 51000, 3500, 16000]
}

# Create DataFrame
df = pd.DataFrame(data)
print(df)

print("-------------------------------------------------------")

#Count total orders per customer.
ord_per_cust = df.groupby('Customer')['OrderID'].count()
print("1. Total orders per customer:")
print(ord_per_cust)
print("-------------------------------------------------------")

#Find the customer who placed the highest number of orders.
top_customer = ord_per_cust.idxmax()
top_orders = ord_per_cust.max()
print("Top Customer:", top_customer, "with", top_orders, "orders\n")
#.idxmax() → Who (the customer name with max orders)
#.max() → How many (the maximum number of orders itself)
print("-------------------------------------------------------")

#Calculate revenue generated per product.
df['Revenue'] = df['Quantity']*df['Price']

rev_per_pro = df.groupby('Product')['Revenue'].sum()
print("2. Revenue generated per product:")
print(rev_per_pro)
print("-------------------------------------------------------")

#Identify the top 5 selling products.

top5_selling = df.groupby('Product')['Quantity'].sum().sort_values(ascending=False).head(5)
print("3. Top 5 selling products:")
print(top5_selling)
print("-------------------------------------------------------")

   OrderID Customer Product  Quantity  Price
0      101     Anuj  Laptop         1  50000
1      102    Manuj  Mobile         2  20000
2      103    Alice  Tablet         1  15000
3      104      Bob  Laptop         1  52000
4      105    Alice  Mobile         3  21000
5      106    David   Shoes         2   3000
6      107      Eva   Shirt         4   2000
7      108     Anuj  Laptop         1  51000
8      109  Charlie   Shoes         1   3500
9      110    Alice  Tablet         2  16000
-------------------------------------------------------
1. Total orders per customer:
Customer
Alice      3
Anuj       2
Bob        1
Charlie    1
David      1
Eva        1
Manuj      1
Name: OrderID, dtype: int64
-------------------------------------------------------
Top Customer: Alice with 3 orders

-------------------------------------------------------
2. Revenue generated per product:
Product
Laptop    153000
Mobile    103000
Shirt       8000
Shoes       9500
Tablet     47000
Name: Revenue, dtype: int64
-------------------------------------------------------
3. Top 5 selling products:
Product
Mobile    5
Shirt     4
Laptop    3
Shoes     3
Tablet    3
Name: Quantity, dtype: int64
-------------------------------------------------------


```
5. Hospital Patient Records Analysis Use Case
```
Operations:

*   Count the number of patients per department.

*   Find the average hospital stay duration per department.
*   Identify the patient with the longest hospital stay.


*   Calculate the number of patients admitted per month.

In [ ]:
import pandas as pd

# Simplified hospital dataset
data = {
    'Patient': ['Anuj', 'Manuj', 'Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Department': ['Cardiology', 'Orthopedics', 'Neurology', 'Cardiology',
                   'Orthopedics', 'Neurology', 'Cardiology', 'Orthopedics'],
    'StayDuration': [10, 10, 10, 8, 10, 12, 11, 6],   # directly put days
    'AdmittedFlag': [1, 1, 1, 1, 1, 1, 1, 1]          # 1 means admitted
}

# Create DataFrame
df = pd.DataFrame(data)
print(df)

print("-------------------------------------------------------")

# 1. Count patients per department
patient_per_dept = df.groupby("Department")['Patient'].count()
print("1. Number of patients per department:")
print(patient_per_dept)

print("-------------------------------------------------------")

# 2. Average stay per department
avg_stay_per_dept = df.groupby('Department')['StayDuration'].mean()
print("2. Average hospital stay duration per department:")
print(avg_stay_per_dept)

print("-------------------------------------------------------")

# 3. Patient with the longest stay
longest_stay = df.loc[df['StayDuration'].idxmax(), ['Patient', 'StayDuration']]
print("3. Patient with the longest hospital stay:")
print(longest_stay)

print("-------------------------------------------------------")

# 4. Patients admitted count (using AdmittedFlag)
total_admitted = df['AdmittedFlag'].sum()
print("4. Total number of patients admitted:", total_admitted)

   Patient   Department  StayDuration  AdmittedFlag
0     Anuj   Cardiology            10             1
1    Manuj  Orthopedics            10             1
2    Alice    Neurology            10             1
3      Bob   Cardiology             8             1
4  Charlie  Orthopedics            10             1
5    David    Neurology            12             1
6      Eva   Cardiology            11             1
7    Frank  Orthopedics             6             1
-------------------------------------------------------
1. Number of patients per department:
Department
Cardiology     3
Neurology      2
Orthopedics    3
Name: Patient, dtype: int64
-------------------------------------------------------
2. Average hospital stay duration per department:
Department
Cardiology      9.666667
Neurology      11.000000
Orthopedics     8.666667
Name: StayDuration, dtype: float64
-------------------------------------------------------
3. Patient with the longest hospital stay:
Patient         David
StayDuration       12
Name: 5, dtype: object
-------------------------------------------------------
4. Total number of patients admitted: 8



```
6. Banking Transactions Analysis Use Casee
```
Operations:

*   Count the total number of transactions per account.

*   Find the account with the highest transaction value.
*   Calculate average transaction amount per customer.


*   Group transactions by type (deposit, withdrawal) and calculate totals.

In [ ]:
import pandas as pd

# Sample Banking Transactions Dataset
data = {
    'Account': ['A101', 'A102', 'A101', 'A103', 'A102', 'A104', 'A103', 'A101'],
    'Customer': ['Anuj', 'Manuj', 'Anuj', 'Alice', 'Manuj', 'Bob', 'Alice', 'Anuj'],
    'Type': ['Deposit', 'Withdrawal', 'Deposit', 'Deposit', 'Withdrawal', 'Deposit', 'Withdrawal', 'Deposit'],
    'Amount': [5000, 2000, 7000, 3000, 4000, 8000, 1500, 6000]
}

# Create DataFrame
df = pd.DataFrame(data)
print(df)

print("-------------------------------------------------------")

# 1. Count the total number of transactions per account
txn_per_account = df.groupby('Account')['Amount'].count()
print("1. Total number of transactions per account:")
print(txn_per_account)

print("-------------------------------------------------------")

# 2. Find the account with the highest transaction value
highest_txn = df.loc[df['Amount'].idxmax(), ['Account', 'Amount']]
print("2. Account with the highest transaction value:")
print(highest_txn)

print("-------------------------------------------------------")

# 3. Calculate average transaction amount per customer
avg_txn_customer = df.groupby('Customer')['Amount'].mean()
print("3. Average transaction amount per customer:")
print(avg_txn_customer)

print("-------------------------------------------------------")

# 4. Group transactions by type and calculate totals
txn_by_type = df.groupby('Type')['Amount'].sum()
print("4. Total transaction amount by type (Deposit/Withdrawal):")
print(txn_by_type)

  Account Customer        Type  Amount
0    A101     Anuj     Deposit    5000
1    A102    Manuj  Withdrawal    2000
2    A101     Anuj     Deposit    7000
3    A103    Alice     Deposit    3000
4    A102    Manuj  Withdrawal    4000
5    A104      Bob     Deposit    8000
6    A103    Alice  Withdrawal    1500
7    A101     Anuj     Deposit    6000
-------------------------------------------------------
1. Total number of transactions per account:
Account
A101    3
A102    2
A103    2
A104    1
Name: Amount, dtype: int64
-------------------------------------------------------
2. Account with the highest transaction value:
Account    A104
Amount     8000
Name: 5, dtype: object
-------------------------------------------------------
3. Average transaction amount per customer:
Customer
Alice    2250.0
Anuj     6000.0
Bob      8000.0
Manuj    3000.0
Name: Amount, dtype: float64
-------------------------------------------------------
4. Total transaction amount by type (Deposit/Withdrawal):
Type
Deposit       29000
Withdrawal     7500
Name: Amount, dtype: int64



```
7. Retail Store Inventory Analysis Use Case
```
Operations:

*   Count the number of products in each category.

*   Find the product with the lowest stock quantity.
*   Calculate the average stock value per category.


*   Identify products that need restocking (below threshold).

In [ ]:
import pandas as pd

# Sample Retail Store Inventory dataset
data = {
    'Product': ['Laptop', 'Mobile', 'Tablet', 'Shirt', 'Shoes', 'Jeans', 'Watch', 'Headphones'],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Clothing', 'Footwear', 'Clothing', 'Accessories', 'Electronics'],
    'StockQty': [15, 25, 10, 50, 20, 30, 5, 12],
    'Price': [50000, 20000, 15000, 2000, 3000, 2500, 4000, 3500]
}

# Create DataFrame
df = pd.DataFrame(data)
print(df)

print("-------------------------------------------------------")

# 1. Count the number of products in each category
products_per_category = df.groupby('Category')['Product'].count()
print("1. Number of products per category:")
print(products_per_category)

print("-------------------------------------------------------")

# 2. Find the product with the lowest stock quantity
lowest_stock = df.loc[df['StockQty'].idxmin(), ['Product', 'StockQty']]
print("2. Product with the lowest stock quantity:")
print(lowest_stock)

print("-------------------------------------------------------")

# 3. Calculate the average stock value per category (StockQty * Price)
df['StockValue'] = df['StockQty'] * df['Price']
avg_stock_value = df.groupby('Category')['StockValue'].mean()
print("3. Average stock value per category:")
print(avg_stock_value)

print("-------------------------------------------------------")

# 4. Identify products that need restocking (below threshold)
threshold = 12
restock_needed = df[df['StockQty'] < threshold][['Product', 'StockQty']]
print("4. Products that need restocking (StockQty < 12):")
print(restock_needed)

      Product     Category  StockQty  Price
0      Laptop  Electronics        15  50000
1      Mobile  Electronics        25  20000
2      Tablet  Electronics        10  15000
3       Shirt     Clothing        50   2000
4       Shoes     Footwear        20   3000
5       Jeans     Clothing        30   2500
6       Watch  Accessories         5   4000
7  Headphones  Electronics        12   3500
-------------------------------------------------------
1. Number of products per category:
Category
Accessories    1
Clothing       2
Electronics    4
Footwear       1
Name: Product, dtype: int64
-------------------------------------------------------
2. Product with the lowest stock quantity:
Product     Watch
StockQty        5
Name: 6, dtype: object
-------------------------------------------------------
3. Average stock value per category:
Category
Accessories     20000.0
Clothing        87500.0
Electronics    360500.0
Footwear        60000.0
Name: StockValue, dtype: float64
-------------------------------------------------------
4. Products that need restocking (StockQty < 12):
  Product  StockQty
2  Tablet        10
6   Watch         5



```
8. Social Media Engagement Analysis Use Case
```
Operations:

* Count the number of posts per user.

*   Find the post with the highest number of likes or comments.
*   Calculate average likes per user.


*   Identify the most active users based on posting frequency.

In [ ]:
import pandas as pd

# Sample Social Media Engagement dataset
data = {
    'PostID': [1, 2, 3, 4, 5, 6, 7, 8],
    'User': ['Anuj', 'Manuj', 'Alice', 'Bob', 'Alice', 'David', 'Anuj', 'Charlie'],
    'Likes': [120, 85, 95, 60, 180, 200, 150, 70],
    'Comments': [15, 10, 12, 5, 20, 25, 18, 7]
}

# Create DataFrame
df = pd.DataFrame(data)
print(df)

print("-------------------------------------------------------")

# 1. Count the number of posts per user
posts_per_user = df.groupby('User')['PostID'].count()
print("1. Number of posts per user:")
print(posts_per_user)

print("-------------------------------------------------------")

# 2. Find the post with the highest number of likes or comments
highest_likes = df.loc[df['Likes'].idxmax(), ['PostID', 'User', 'Likes']]
highest_comments = df.loc[df['Comments'].idxmax(), ['PostID', 'User', 'Comments']]
print("2. Post with highest likes:", highest_likes)
print("   Post with highest comments:", highest_comments)

print("-------------------------------------------------------")

# 3. Calculate average likes per user
avg_likes_per_user = df.groupby('User')['Likes'].mean()
print("3. Average likes per user:")
print(avg_likes_per_user)

print("-------------------------------------------------------")

# 4. Identify the most active users based on posting frequency
most_active_users = posts_per_user.sort_values(ascending=False)
print("4. Most active users (by number of posts):")
print(most_active_users)

   PostID     User  Likes  Comments
0       1     Anuj    120        15
1       2    Manuj     85        10
2       3    Alice     95        12
3       4      Bob     60         5
4       5    Alice    180        20
5       6    David    200        25
6       7     Anuj    150        18
7       8  Charlie     70         7
-------------------------------------------------------
1. Number of posts per user:
User
Alice      2
Anuj       2
Bob        1
Charlie    1
David      1
Manuj      1
Name: PostID, dtype: int64
-------------------------------------------------------
2. Post with highest likes: PostID        6
User      David
Likes       200
Name: 5, dtype: object
   Post with highest comments: PostID          6
User        David
Comments       25
Name: 5, dtype: object
-------------------------------------------------------
3. Average likes per user:
User
Alice      137.5
Anuj       135.0
Bob         60.0
Charlie     70.0
David      200.0
Manuj       85.0
Name: Likes, dtype: float64
-------------------------------------------------------
4. Most active users (by number of posts):
User
Alice      2
Anuj       2
Bob        1
Charlie    1
David      1
Manuj      1
Name: PostID, dtype: int64



```
9. Airline Flight Data Analysis Use Case
```
Operations:

*   Count the number of flights per airline.

*   Calculate average flight delay per airline.
*   Identify the route with the maximum number of flights.


*   List itemFind the longest and shortest flight duration.

In [ ]:
import pandas as pd

# Sample Airline Flight dataset
data = {
    'FlightID': [101, 102, 103, 104, 105, 106, 107, 108],
    'Airline': ['AirIndia', 'IndiGo', 'AirIndia', 'SpiceJet', 'IndiGo', 'AirAsia', 'AirIndia', 'SpiceJet'],
    'Route': ['Delhi-Mumbai', 'Delhi-Mumbai', 'Chennai-Delhi', 'Delhi-Kolkata',
              'Delhi-Mumbai', 'Bangalore-Chennai', 'Delhi-Mumbai', 'Delhi-Kolkata'],
    'DelayMins': [10, 5, 30, 15, 20, 0, 25, 10],
    'DurationMins': [120, 115, 150, 140, 110, 90, 125, 135]
}

# Create DataFrame
df = pd.DataFrame(data)
print(df)

print("-------------------------------------------------------")

# 1. Count the number of flights per airline
flights_per_airline = df.groupby('Airline')['FlightID'].count()
print("1. Number of flights per airline:")
print(flights_per_airline)

print("-------------------------------------------------------")

# 2. Calculate average flight delay per airline
avg_delay_airline = df.groupby('Airline')['DelayMins'].mean()
print("2. Average flight delay per airline:")
print(avg_delay_airline)

print("-------------------------------------------------------")

# 3. Identify the route with the maximum number of flights
flights_per_route = df.groupby('Route')['FlightID'].count()
top_route = flights_per_route.idxmax()
print("3. Route with the maximum number of flights:", top_route)

print("-------------------------------------------------------")

# 4. Find the longest and shortest flight duration
longest_flight = df.loc[df['DurationMins'].idxmax(), ['FlightID','Route','DurationMins']]
shortest_flight = df.loc[df['DurationMins'].idxmin(), ['FlightID','Route','DurationMins']]
print("4. Longest flight:")
print(longest_flight)
print("   Shortest flight:")
print(shortest_flight)

   FlightID   Airline              Route  DelayMins  DurationMins
0       101  AirIndia       Delhi-Mumbai         10           120
1       102    IndiGo       Delhi-Mumbai          5           115
2       103  AirIndia      Chennai-Delhi         30           150
3       104  SpiceJet      Delhi-Kolkata         15           140
4       105    IndiGo       Delhi-Mumbai         20           110
5       106   AirAsia  Bangalore-Chennai          0            90
6       107  AirIndia       Delhi-Mumbai         25           125
7       108  SpiceJet      Delhi-Kolkata         10           135
-------------------------------------------------------
1. Number of flights per airline:
Airline
AirAsia     1
AirIndia    3
IndiGo      2
SpiceJet    2
Name: FlightID, dtype: int64
-------------------------------------------------------
2. Average flight delay per airline:
Airline
AirAsia      0.000000
AirIndia    21.666667
IndiGo      12.500000
SpiceJet    12.500000
Name: DelayMins, dtype: float64
-------------------------------------------------------
3. Route with the maximum number of flights: Delhi-Mumbai
-------------------------------------------------------
4. Longest flight:
FlightID                  103
Route           Chennai-Delhi
DurationMins              150
Name: 2, dtype: object
   Shortest flight:
FlightID                      106
Route           Bangalore-Chennai
DurationMins                   90
Name: 5, dtype: object


```
10. Movie Ratings Analysis Use Case
```
Operations:

*   Count the number of movies per genre.

*   Calculate the average rating per movie.
*   Find the movie with the highest rating.


*   Identify top 5 directors based on average movie ratings.

In [ ]:
import pandas as pd

# Sample Movie Ratings dataset
data = {
    'Movie': ['Inception', 'Interstellar', 'Dangal', '3 Idiots', 'Titanic', 'Avatar', 'PK', 'The Dark Knight'],
    'Genre': ['Sci-Fi', 'Sci-Fi', 'Drama', 'Drama', 'Romance', 'Sci-Fi', 'Drama', 'Action'],
    'Director': ['Nolan', 'Nolan', 'Nitesh', 'Hirani', 'Cameron', 'Cameron', 'Hirani', 'Nolan'],
    'Rating': [9.0, 8.6, 8.5, 8.4, 7.9, 8.0, 8.2, 9.1]
}

# Create DataFrame
df = pd.DataFrame(data)
print(df)

print("-------------------------------------------------------")

# 1. Count the number of movies per genre
movies_per_genre = df.groupby('Genre')['Movie'].count()
print("1. Number of movies per genre:")
print(movies_per_genre)

print("-------------------------------------------------------")

# 2. Calculate the average rating per movie
# (if multiple ratings existed, here it's one rating per movie, so just print)
avg_rating_movie = df.groupby('Movie')['Rating'].mean()
print("2. Average rating per movie:")
print(avg_rating_movie)

print("-------------------------------------------------------")

# 3. Find the movie with the highest rating
highest_rated = df.loc[df['Rating'].idxmax(), ['Movie','Rating']]
print("3. Movie with the highest rating:")
print(highest_rated)

print("-------------------------------------------------------")

# 4. Identify top 5 directors based on average movie ratings
top5_directors = df.groupby('Director')['Rating'].mean().sort_values(ascending=False).head(5)
print("4. Top 5 directors by average ratings:")
print(top5_directors)

             Movie    Genre Director  Rating
0        Inception   Sci-Fi    Nolan     9.0
1     Interstellar   Sci-Fi    Nolan     8.6
2           Dangal    Drama   Nitesh     8.5
3         3 Idiots    Drama   Hirani     8.4
4          Titanic  Romance  Cameron     7.9
5           Avatar   Sci-Fi  Cameron     8.0
6               PK    Drama   Hirani     8.2
7  The Dark Knight   Action    Nolan     9.1
-------------------------------------------------------
1. Number of movies per genre:
Genre
Action     1
Drama      3
Romance    1
Sci-Fi     3
Name: Movie, dtype: int64
-------------------------------------------------------
2. Average rating per movie:
Movie
3 Idiots           8.4
Avatar             8.0
Dangal             8.5
Inception          9.0
Interstellar       8.6
PK                 8.2
The Dark Knight    9.1
Titanic            7.9
Name: Rating, dtype: float64
-------------------------------------------------------
3. Movie with the highest rating:
Movie     The Dark Knight
Rating                9.1
Name: 7, dtype: object
-------------------------------------------------------
4. Top 5 directors by average ratings:
Director
Nolan      8.90
Nitesh     8.50
Hirani     8.30
Cameron    7.95
Name: Rating, dtype: float64