1. Sales Data Analysis Use Case

Operations:

• Count total sales per product category.

• Calculate the total revenue generated by each sales representative.

• Find the product with the highest sales.

• Group data by sales regions and calculate average sales.

In [ ]:
import pandas as pd

data = {
    'Product': ['Laptop', 'Mobile', 'Tablet', 'Shirt', 'Shoes', 'Tablet', 'Laptop', 'Shoes', 'Shirt'],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Clothing', 'Footwear', 'Electronics', 'Electronics', 'Footwear', 'Clothing'],
    'SalesRep': ['Alice', 'Bob', 'Alice', 'Charlie', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
    'Region': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North'],
    'UnitsSold': [5, 10, 3, 12, 7, 4, 6, 9, 11],
    'Price': [50000, 20000, 15000, 2000, 3000, 16000, 51000, 3500, 2500]
}

df = pd.DataFrame(data)

# Add SalesAmount
df["SalesAmount"] = df["UnitsSold"] * df["Price"]

print(df)
print("------------------------------------------------------------------")
# ---------------------------------------------------------
# 1. Total sales per product category (WITHOUT groupby)
# ---------------------------------------------------------
print("1. Total sales per product category:")

categories = df["Category"].unique()

for cat in categories:
    total_units = df.loc[df["Category"] == cat, "UnitsSold"].sum()
    print(f"{cat}: {total_units}")

print("------------------------------------------------------------------")

# ---------------------------------------------------------
# 2. Total revenue generated by each sales representative
# ---------------------------------------------------------
print("2. Total revenue per sales representative:")

reps = df["SalesRep"].unique()

for rep in reps:
    revenue = df.loc[df["SalesRep"] == rep, "SalesAmount"].sum()
    print(f"{rep}: {revenue}")

print("------------------------------------------------------------------")

# ---------------------------------------------------------
# 3. Product with the highest sales (NO groupby)
# ---------------------------------------------------------
products = df["Product"].unique()

product_sales = {prod: df.loc[df["Product"] == prod, "SalesAmount"].sum()
                 for prod in products}

top_product = max(product_sales, key=product_sales.get)

print("3. Product with the highest sales:")
print(top_product)

print("------------------------------------------------------------------")

# ---------------------------------------------------------
# 4. Average sales per region
# ---------------------------------------------------------
print("4. Average sales per region:")

regions = df["Region"].unique()

for reg in regions:
    avg_sales = df.loc[df["Region"] == reg, "SalesAmount"].mean()
    print(f"{reg}: {avg_sales}")

print("------------------------------------------------------------------")

  Product     Category SalesRep Region  UnitsSold  Price  SalesAmount
0  Laptop  Electronics    Alice  North          5  50000       250000
1  Mobile  Electronics      Bob  South         10  20000       200000
2  Tablet  Electronics    Alice   East          3  15000        45000
3   Shirt     Clothing  Charlie   West         12   2000        24000
4   Shoes     Footwear      Bob  North          7   3000        21000
5  Tablet  Electronics  Charlie  South          4  16000        64000
6  Laptop  Electronics    Alice   East          6  51000       306000
7   Shoes     Footwear      Bob   West          9   3500        31500
8   Shirt     Clothing  Charlie  North         11   2500        27500
------------------------------------------------------------------
1. Total sales per product category:
Electronics: 28
Clothing: 23
Footwear: 16
------------------------------------------------------------------
2. Total revenue per sales representative:
Alice: 601000
Bob: 252500
Charlie: 115500
------------------------------------------------------------------
3. Product with the highest sales:
Laptop
------------------------------------------------------------------
4. Average sales per region:
North: 99500.0
South: 132000.0
East: 175500.0
West: 27750.0
------------------------------------------------------------------

2. Employee Data Analysis Use Case

Operations:

• Count the number of employees per department.

• Find the employee with the highest salary.

• Calculate average salary per department.

• Sort employees based on their performance score or salary.

In [ ]:
import pandas as pd

# ---------------------------------------------------------
# Create sample Employee Dataset
# ---------------------------------------------------------

data = {
    "Employee": ["John", "Emma", "Liam", "Olivia", "Noah", "Sophia", "Mason", "Ava"],
    "Department": ["HR", "IT", "IT", "Finance", "HR", "Finance", "IT", "HR"],
    "Salary": [50000, 75000, 68000, 82000, 54000, 90000, 70000, 52000],
    "PerformanceScore": [88, 92, 85, 95, 80, 97, 89, 78]
}

df = pd.DataFrame(data)

print(df)
print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 1. Count number of employees per department
# ---------------------------------------------------------
print("1. Number of employees per department:")

departments = df["Department"].unique()

for dept in departments:
    count = (df["Department"] == dept).sum()     # boolean mask → sum
    print(f"{dept}: {count}")

print("------------------------------------------------------------------")
# ---------------------------------------------------------
# 2. Employee with highest salary
# ---------------------------------------------------------
print("2. Employee with the highest salary:")

max_salary = df["Salary"].max()
top_employee = df.loc[df["Salary"] == max_salary, "Employee"].iloc[0]

print(f"{top_employee} with salary {max_salary}")

print("------------------------------------------------------------------")
# ---------------------------------------------------------
# 3. Average salary per department (NO groupby)
# ---------------------------------------------------------
print("3. Average salary per department:")

for dept in departments:
    avg_salary = df.loc[df["Department"] == dept, "Salary"].mean()
    print(f"{dept}: {avg_salary}")

print("------------------------------------------------------------------")
# ---------------------------------------------------------
# 4. Sort employees by performance score OR salary
# ---------------------------------------------------------
print("4A. Employees sorted by performance score:")
print(df.sort_values(by="PerformanceScore", ascending=False))

print("------------------------------------------------------------------")

print("4B. Employees sorted by salary:")
print(df.sort_values(by="Salary", ascending=False))

print("------------------------------------------------------------------")

  Employee Department  Salary  PerformanceScore
0     John         HR   50000                88
1     Emma         IT   75000                92
2     Liam         IT   68000                85
3   Olivia    Finance   82000                95
4     Noah         HR   54000                80
5   Sophia    Finance   90000                97
6    Mason         IT   70000                89
7      Ava         HR   52000                78
------------------------------------------------------------------
1. Number of employees per department:
HR: 3
IT: 3
Finance: 2
------------------------------------------------------------------
2. Employee with the highest salary:
Sophia with salary 90000
------------------------------------------------------------------
3. Average salary per department:
HR: 52000.0
IT: 71000.0
Finance: 86000.0
------------------------------------------------------------------
4A. Employees sorted by performance score:
  Employee Department  Salary  PerformanceScore
5   Sophia    Finance   90000                97
3   Olivia    Finance   82000                95
1     Emma         IT   75000                92
6    Mason         IT   70000                89
0     John         HR   50000                88
2     Liam         IT   68000                85
4     Noah         HR   54000                80
7      Ava         HR   52000                78
------------------------------------------------------------------
4B. Employees sorted by salary:
  Employee Department  Salary  PerformanceScore
5   Sophia    Finance   90000                97
3   Olivia    Finance   82000                95
1     Emma         IT   75000                92
6    Mason         IT   70000                89
2     Liam         IT   68000                85
4     Noah         HR   54000                80
7      Ava         HR   52000                78
0     John         HR   50000                88
------------------------------------------------------------------

3. Student Performance Analysis Use Case

Operations:

• Count the number of students per class/grade.

• Calculate the average marks per subject.

• Find the student with the highest overall score.

• Identify students who scored below the passing mark in any subject.

In [ ]:
# ---------------------------------------------------------
# Create simple Student Dataset
# ---------------------------------------------------------

data = {
    "Student": ["John", "Emma", "Liam", "Olivia", "Noah", "Sophia"],
    "Class": ["10A", "10A", "10B", "10B", "10A", "10B"],
    "Math": [78, 92, 65, 88, 55, 73],
    "Science": [82, 95, 70, 91, 60, 75],
    "English": [80, 90, 72, 85, 58, 78]
}

df = pd.DataFrame(data)

print(df)
print("------------------------------------------------------------------")

# ---------------------------------------------------------
# 1. Count number of students per class (NO groupby)
# ---------------------------------------------------------
print("1. Number of students per class:")

classes = df["Class"].unique()

for c in classes:
    count = (df["Class"] == c).sum()
    print(f"{c}: {count}")

print("------------------------------------------------------------------")

# ---------------------------------------------------------
# 2. Average marks per subject (NO groupby)
# ---------------------------------------------------------
print("2. Average marks per subject:")

subjects = ["Math", "Science", "English"]

for sub in subjects:
    avg_marks = df[sub].mean()
    print(f"{sub}: {avg_marks}")

print("------------------------------------------------------------------")
# ---------------------------------------------------------
# 3. Student with highest total score
# ---------------------------------------------------------
print("3. Student with the highest total score:")

df["Total"] = df["Math"] + df["Science"] + df["English"]

max_total = df["Total"].max()
top_student = df.loc[df["Total"] == max_total, "Student"].iloc[0]

print(f"{top_student} with score {max_total}")

print("------------------------------------------------------------------")
# ---------------------------------------------------------
# 4. Students scoring below passing mark (40) in ANY subject
# ---------------------------------------------------------
print("4. Students scoring below passing mark in any subject:")

passing_mark = 40

for i in range(len(df)):
    if (df.loc[i, "Math"] < passing_mark or
        df.loc[i, "Science"] < passing_mark or
        df.loc[i, "English"] < passing_mark):

        print(df.loc[i, "Student"])

print("------------------------------------------------------------------")

  Student Class  Math  Science  English
0    John   10A    78       82       80
1    Emma   10A    92       95       90
2    Liam   10B    65       70       72
3  Olivia   10B    88       91       85
4    Noah   10A    55       60       58
5  Sophia   10B    73       75       78
------------------------------------------------------------------
1. Number of students per class:
10A: 3
10B: 3
------------------------------------------------------------------
2. Average marks per subject:
Math: 75.16666666666667
Science: 78.83333333333333
English: 77.16666666666667
------------------------------------------------------------------
3. Student with the highest total score:
Emma with score 277
------------------------------------------------------------------

4. E-commerce Orders Analysis Use Case

Operations:

• Count total orders per customer.

• Find the customer who placed the highest number of orders.

• Calculate revenue generated per product.

• Identify the top 5 selling products.

In [ ]:
# ---------------------------------------------------------
# Create simple E-commerce Orders Dataset
# ---------------------------------------------------------

data = {
    "OrderID": [101,102,103,104,105,106,107,108,109,110],
    "Customer": ["Alice","Bob","Alice","David","Bob","Alice","Emma","Bob","Emma","Alice"],
    "Product": ["Laptop","Phone","Laptop","Tablet","Phone","Tablet","Laptop","Headphones","Tablet","Phone"],
    "Price": [50000,20000,50000,15000,20000,15000,50000,3000,15000,20000],
    "Quantity": [1,2,1,1,1,2,1,3,1,1]
}

df = pd.DataFrame(data)

print(df)
print("------------------------------------------------------------------")

# ---------------------------------------------------------
# 1. Count total orders per customer (NO groupby)
# ---------------------------------------------------------
print("1. Total orders per customer:")

customers = df["Customer"].unique()

for cust in customers:
    total_orders = (df["Customer"] == cust).sum()
    print(f"{cust}: {total_orders}")

print("------------------------------------------------------------------")
# ---------------------------------------------------------
# 2. Customer with the highest number of orders
# ---------------------------------------------------------
print("2. Customer with highest number of orders:")

order_counts = {}   # dictionary to store counts

for cust in customers:
    order_counts[cust] = (df["Customer"] == cust).sum()

top_customer = max(order_counts, key=order_counts.get)

print(top_customer, "with", order_counts[top_customer], "orders")

print("------------------------------------------------------------------")
# ---------------------------------------------------------
# 3. Revenue generated per product (NO groupby)
# ---------------------------------------------------------
print("3. Revenue generated per product:")

df["Revenue"] = df["Price"] * df["Quantity"]

products = df["Product"].unique()

for prod in products:
    total_revenue = df.loc[df["Product"] == prod, "Revenue"].sum()
    print(f"{prod}: {total_revenue}")

print("------------------------------------------------------------------")
print("4. Top 5 selling products:")

# Calculate quantity sold per product using one line
qty_per_product = df.pivot_table(values="Quantity", index="Product", aggfunc="sum")

# Sort and take top 5
top_5 = qty_per_product.sort_values(by="Quantity", ascending=False).head(5)

print(top_5)
print("------------------------------------------------------------------")

   OrderID Customer     Product  Price  Quantity
0      101    Alice      Laptop  50000         1
1      102      Bob       Phone  20000         2
2      103    Alice      Laptop  50000         1
3      104    David      Tablet  15000         1
4      105      Bob       Phone  20000         1
5      106    Alice      Tablet  15000         2
6      107     Emma      Laptop  50000         1
7      108      Bob  Headphones   3000         3
8      109     Emma      Tablet  15000         1
9      110    Alice       Phone  20000         1
------------------------------------------------------------------
1. Total orders per customer:
Alice: 4
Bob: 3
David: 1
Emma: 2
------------------------------------------------------------------
2. Customer with highest number of orders:
Alice with 4 orders
------------------------------------------------------------------
3. Revenue generated per product:
Laptop: 150000
Phone: 80000
Tablet: 60000
Headphones: 9000
------------------------------------------------------------------
4. Top 5 selling products:
            Quantity
Product
Tablet             4
Phone              4
Laptop             3
Headphones         3
------------------------------------------------------------------

5. Hospital Patient Records Analysis Use Case

Operations:

• Count the number of patients per department.

• Find the average hospital stay duration per department.

• Identify the patient with the longest hospital stay.

• Calculate the number of patients admitted per month

In [ ]:
import pandas as pd

# ---------------------------------------------------------
# Create simple patient dataset
# ---------------------------------------------------------

data = {
    "Patient": ["John", "Emma", "Liam", "Olivia", "Noah", "Sophia", "Mason", "Ava"],
    "Department": ["Cardiology", "Orthopedics", "Cardiology", "Neurology",
                   "Orthopedics", "Cardiology", "Neurology", "Orthopedics"],
    "StayDays": [5, 3, 10, 7, 4, 12, 6, 2],
    "AdmitMonth": ["Jan", "Feb", "Jan", "Mar", "Feb", "Jan", "Mar", "Feb"]
}

df = pd.DataFrame(data)

print(df)
print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 1. Count number of patients per department (NO groupby)
# ---------------------------------------------------------
print("1. Number of patients per department:")

departments = df["Department"].unique()

for dept in departments:
    count = (df["Department"] == dept).sum()
    print(f"{dept}: {count}")

print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 2. Average hospital stay duration per department
# ---------------------------------------------------------
print("2. Average stay duration per department:")

for dept in departments:
    avg_stay = df.loc[df["Department"] == dept, "StayDays"].mean()
    print(f"{dept}: {avg_stay}")

print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 3. Patient with the longest hospital stay
# ---------------------------------------------------------
print("3. Patient with the longest hospital stay:")

max_stay = df["StayDays"].max()
top_patient = df.loc[df["StayDays"] == max_stay, "Patient"].iloc[0]

print(f"{top_patient} with {max_stay} days")

print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 4. Number of patients admitted per month (NO groupby)
# ---------------------------------------------------------
print("4. Number of patients admitted per month:")

months = df["AdmitMonth"].unique()

for month in months:
    count = (df["AdmitMonth"] == month).sum()
    print(f"{month}: {count}")

print("------------------------------------------------------------------")

  Patient   Department  StayDays AdmitMonth
0    John   Cardiology         5        Jan
1    Emma  Orthopedics         3        Feb
2    Liam   Cardiology        10        Jan
3  Olivia    Neurology         7        Mar
4    Noah  Orthopedics         4        Feb
5  Sophia   Cardiology        12        Jan
6   Mason    Neurology         6        Mar
7     Ava  Orthopedics         2        Feb
------------------------------------------------------------------
1. Number of patients per department:
Cardiology: 3
Orthopedics: 3
Neurology: 2
------------------------------------------------------------------
2. Average stay duration per department:
Cardiology: 9.0
Orthopedics: 3.0
Neurology: 6.5
------------------------------------------------------------------
3. Patient with the longest hospital stay:
Sophia with 12 days
------------------------------------------------------------------
4. Number of patients admitted per month:
Jan: 3
Feb: 3
Mar: 2
------------------------------------------------------------------

6. Banking Transactions Analysis Use Case

Operations:

• Count the total number of transactions per account.

• Find the account with the highest transaction value.

• Calculate average transaction amount per customer.

• Group transactions by type (deposit, withdrawal) and calculate totals.

In [ ]:
import pandas as pd

# ---------------------------------------------------------
# Create simple Banking Transactions Dataset
# ---------------------------------------------------------

data = {
    "Account": ["A101","A102","A101","A103","A102","A101","A104","A103","A102","A104"],
    "Customer": ["John","Emma","John","Liam","Emma","John","Sophia","Liam","Emma","Sophia"],
    "TransactionType": ["Deposit","Withdrawal","Deposit","Deposit",
                        "Deposit","Withdrawal","Deposit","Withdrawal","Deposit","Deposit"],
    "Amount": [5000, 2000, 7000, 3000, 4000, 1500, 6000, 2500, 4500, 3500]
}

df = pd.DataFrame(data)

print(df)
print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 1. Total number of transactions per account (NO groupby)
# ---------------------------------------------------------
print("1. Total number of transactions per account:")

accounts = df["Account"].unique()

for acc in accounts:
    count = (df["Account"] == acc).sum()
    print(f"{acc}: {count}")

print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 2. Account with the highest single transaction
# ---------------------------------------------------------
print("2. Account with the highest transaction value:")

max_value = df["Amount"].max()
account_max = df.loc[df["Amount"] == max_value, "Account"].iloc[0]

print(f"{account_max} with transaction of {max_value}")

print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 3. Average transaction amount per customer (NO groupby)
# ---------------------------------------------------------
print("3. Average transaction amount per customer:")

customers = df["Customer"].unique()

for cust in customers:
    avg_amt = df.loc[df["Customer"] == cust, "Amount"].mean()
    print(f"{cust}: {avg_amt}")

print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 4. Total amount for each transaction type (NO groupby)
# ---------------------------------------------------------
print("4. Total amount by transaction type:")

types = df["TransactionType"].unique()

for t in types:
    total_amt = df.loc[df["TransactionType"] == t, "Amount"].sum()
    print(f"{t}: {total_amt}")

print("------------------------------------------------------------------")

  Account Customer TransactionType  Amount
0    A101     John         Deposit    5000
1    A102     Emma      Withdrawal    2000
2    A101     John         Deposit    7000
3    A103     Liam         Deposit    3000
4    A102     Emma         Deposit    4000
5    A101     John      Withdrawal    1500
6    A104   Sophia         Deposit    6000
7    A103     Liam      Withdrawal    2500
8    A102     Emma         Deposit    4500
9    A104   Sophia         Deposit    3500
------------------------------------------------------------------
1. Total number of transactions per account:
A101: 3
A102: 3
A103: 2
A104: 2
------------------------------------------------------------------
2. Account with the highest transaction value:
A101 with transaction of 7000
------------------------------------------------------------------
3. Average transaction amount per customer:
John: 4500.0
Emma: 3500.0
Liam: 2750.0
Sophia: 4750.0
------------------------------------------------------------------
4. Total amount by transaction type:
Deposit: 33000
Withdrawal: 6000
------------------------------------------------------------------

7. Retail Store Inventory Analysis Use Case

Operations:

• Count the number of products in each category.

• Find the product with the lowest stock quantity.

• Calculate the average stock value per category.

• Identify products that need restocking (below threshold).

In [ ]:
import pandas as pd

# ---------------------------------------------------------
# Create simple Retail Inventory Dataset
# ---------------------------------------------------------

data = {
    "Product": ["Laptop","Mouse","Keyboard","Shirt","Jeans",
                "Shoes","Tablet","Headphones","Monitor","Jacket"],
    "Category": ["Electronics","Electronics","Electronics","Clothing","Clothing",
                 "Footwear","Electronics","Electronics","Electronics","Clothing"],
    "StockQty": [15, 50, 40, 25, 10, 5, 12, 30, 8, 6],
    "Price": [50000, 800, 1500, 1200, 2000, 3000, 25000, 2000, 15000, 3500]
}

df = pd.DataFrame(data)

print(df)
print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 1. Number of products in each category (NO groupby)
# ---------------------------------------------------------
print("1. Number of products in each category:")

categories = df["Category"].unique()

for cat in categories:
    count = (df["Category"] == cat).sum()
    print(f"{cat}: {count}")

print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 2. Product with the lowest stock quantity
# ---------------------------------------------------------
print("2. Product with the lowest stock quantity:")

min_qty = df["StockQty"].min()
lowest_stock_product = df.loc[df["StockQty"] == min_qty, "Product"].iloc[0]

print(f"{lowest_stock_product} with quantity {min_qty}")

print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 3. Average stock value per category
#    Stock Value = StockQty * Price
# ---------------------------------------------------------
print("3. Average stock value per category:")

df["StockValue"] = df["StockQty"] * df["Price"]

for cat in categories:
    avg_value = df.loc[df["Category"] == cat, "StockValue"].mean()
    print(f"{cat}: {avg_value}")

print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 4. Products that need restocking (below threshold)
# ---------------------------------------------------------
print("4. Products that need restocking (Stock < 10):")

threshold = 10

for i in range(len(df)):
    if df.loc[i, "StockQty"] < threshold:
        print(df.loc[i, "Product"])

print("------------------------------------------------------------------")

      Product     Category  StockQty  Price
0      Laptop  Electronics        15  50000
1       Mouse  Electronics        50    800
2    Keyboard  Electronics        40   1500
3       Shirt     Clothing        25   1200
4       Jeans     Clothing        10   2000
5       Shoes     Footwear         5   3000
6      Tablet  Electronics        12  25000
7  Headphones  Electronics        30   2000
8     Monitor  Electronics         8  15000
9      Jacket     Clothing         6   3500
------------------------------------------------------------------
1. Number of products in each category:
Electronics: 6
Clothing: 3
Footwear: 1
------------------------------------------------------------------
2. Product with the lowest stock quantity:
Shoes with quantity 5
------------------------------------------------------------------
3. Average stock value per category:
Electronics: 221666.66666666666
Clothing: 23666.666666666668
Footwear: 15000.0
------------------------------------------------------------------
4. Products that need restocking (Stock < 10):
Shoes
Monitor
Jacket
------------------------------------------------------------------

8. Social Media Engagement Analysis Use Case

Operations:

• Count the number of posts per user.

• Find the post with the highest number of likes or comments.

• Calculate average likes per user.

• Identify the most active users based on posting frequency.

In [ ]:
import pandas as pd

# ---------------------------------------------------------
# Create simple Social Media Dataset
# ---------------------------------------------------------

data = {
    "User": ["Alice","Bob","Alice","Charlie","Bob",
             "David","Alice","Charlie","Bob","David"],
    "PostID": [1,2,3,4,5,6,7,8,9,10],
    "Likes": [120, 45, 200, 32, 50, 75, 180, 60, 55, 95],
    "Comments": [15, 5, 22, 3, 8, 10, 18, 6, 7, 11]
}

df = pd.DataFrame(data)

print(df)
print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 1. Count number of posts per user (NO groupby)
# ---------------------------------------------------------
print("1. Number of posts per user:")

users = df["User"].unique()

for u in users:
    total_posts = (df["User"] == u).sum()
    print(f"{u}: {total_posts}")

print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 2. Post with the highest likes or comments
# ---------------------------------------------------------
print("2. Post with highest likes:")

max_likes = df["Likes"].max()
top_like_post = df.loc[df["Likes"] == max_likes, "PostID"].iloc[0]

print(f"Post {top_like_post} with {max_likes} likes")

print("\nPost with highest comments:")

max_comments = df["Comments"].max()
top_comment_post = df.loc[df["Comments"] == max_comments, "PostID"].iloc[0]

print(f"Post {top_comment_post} with {max_comments} comments")

print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 3. Average likes per user (NO groupby)
# ---------------------------------------------------------
print("3. Average likes per user:")

for u in users:
    avg_likes = df.loc[df["User"] == u, "Likes"].mean()
    print(f"{u}: {avg_likes}")

print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 4. Most active users (based on posting frequency)
# ---------------------------------------------------------
print("4. Most active users:")

# same as counting posts: highest number of posts
post_count = {}

for u in users:
    post_count[u] = (df["User"] == u).sum()

most_active = max(post_count, key=post_count.get)

print(f"Most active user: {most_active} ({post_count[most_active]} posts)")

print("------------------------------------------------------------------")

      User  PostID  Likes  Comments
0    Alice       1    120        15
1      Bob       2     45         5
2    Alice       3    200        22
3  Charlie       4     32         3
4      Bob       5     50         8
5    David       6     75        10
6    Alice       7    180        18
7  Charlie       8     60         6
8      Bob       9     55         7
9    David      10     95        11
------------------------------------------------------------------
1. Number of posts per user:
Alice: 3
Bob: 3
Charlie: 2
David: 2
------------------------------------------------------------------
2. Post with highest likes:
Post 3 with 200 likes

Post with highest comments:
Post 3 with 22 comments
------------------------------------------------------------------
3. Average likes per user:
Alice: 166.66666666666666
Bob: 50.0
Charlie: 46.0
David: 85.0
------------------------------------------------------------------
4. Most active users:
Most active user: Alice (3 posts)
------------------------------------------------------------------

9. Airline Flight Data Analysis Use Case

Operations:

• Count the number of flights per airline.

• Calculate average flight delay per airline.

• Identify the route with the maximum number of flights.

• Find the longest and shortest flight duration

In [ ]:
import pandas as pd

# ---------------------------------------------------------
# Your Given Dataset
# ---------------------------------------------------------

data = {
    'FlightID': [101, 102, 103, 104, 105, 106, 107, 108],
    'Airline': ['AirIndia', 'IndiGo', 'AirIndia', 'SpiceJet', 'IndiGo', 'AirAsia', 'AirIndia', 'SpiceJet'],
    'Route': ['Delhi-Mumbai', 'Delhi-Mumbai', 'Chennai-Delhi', 'Delhi-Kolkata',
              'Delhi-Mumbai', 'Bangalore-Chennai', 'Delhi-Mumbai', 'Delhi-Kolkata'],
    'DelayMins': [10, 5, 30, 15, 20, 0, 25, 10],
    'DurationMins': [120, 115, 150, 140, 110, 90, 125, 135]
}

df = pd.DataFrame(data)

print(df)
print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 1. Count the number of flights per airline
# ---------------------------------------------------------
print("1. Number of flights per airline:")

airlines = df["Airline"].unique()

for a in airlines:
    count = (df["Airline"] == a).sum()
    print(f"{a}: {count}")

print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 2. Average flight delay per airline
# ---------------------------------------------------------
print("2. Average flight delay per airline:")

for a in airlines:
    avg_delay = df.loc[df["Airline"] == a, "DelayMins"].mean()
    print(f"{a}: {avg_delay} mins")

print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 3. Identify the route with the maximum number of flights
# ---------------------------------------------------------
print("3. Route with maximum number of flights:")

routes = df["Route"].unique()

route_counts = {}

for r in routes:
    route_counts[r] = (df["Route"] == r).sum()

max_route = max(route_counts, key=route_counts.get)

print(f"{max_route} ({route_counts[max_route]} flights)")

print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 4. Find the longest and shortest flight duration
# ---------------------------------------------------------
print("4. Longest and shortest flight duration:")

max_duration = df["DurationMins"].max()
min_duration = df["DurationMins"].min()

longest_flight = df.loc[df["DurationMins"] == max_duration, "FlightID"].iloc[0]
shortest_flight = df.loc[df["DurationMins"] == min_duration, "FlightID"].iloc[0]

print(f"Longest Flight: {longest_flight} ({max_duration} mins)")
print(f"Shortest Flight: {shortest_flight} ({min_duration} mins)")

print("------------------------------------------------------------------")

   FlightID   Airline              Route  DelayMins  DurationMins
0       101  AirIndia       Delhi-Mumbai         10           120
1       102    IndiGo       Delhi-Mumbai          5           115
2       103  AirIndia      Chennai-Delhi         30           150
3       104  SpiceJet      Delhi-Kolkata         15           140
4       105    IndiGo       Delhi-Mumbai         20           110
5       106   AirAsia  Bangalore-Chennai          0            90
6       107  AirIndia       Delhi-Mumbai         25           125
7       108  SpiceJet      Delhi-Kolkata         10           135
------------------------------------------------------------------
1. Number of flights per airline:
AirIndia: 3
IndiGo: 2
SpiceJet: 2
AirAsia: 1
------------------------------------------------------------------
2. Average flight delay per airline:
AirIndia: 21.666666666666668 mins
IndiGo: 12.5 mins
SpiceJet: 12.5 mins
AirAsia: 0.0 mins
------------------------------------------------------------------
3. Route with maximum number of flights:
Delhi-Mumbai (4 flights)
------------------------------------------------------------------
4. Longest and shortest flight duration:
Longest Flight: 103 (150 mins)
Shortest Flight: 106 (90 mins)
------------------------------------------------------------------

10. Movie Ratings Analysis Use Case

Operations:

• Count the number of movies per genre.

• Calculate the average rating per movie.

• Find the movie with the highest rating.

• Identify top 5 directors based on average movie ratings

In [ ]:
import pandas as pd

# ---------------------------------------------------------
# Create Simple Movie Ratings Dataset
# ---------------------------------------------------------

data = {
    "Movie": ["Inception","Avatar","Interstellar","Titanic","Dunkirk",
              "Joker","Avatar","Inception","Titanic","Interstellar"],
    "Genre": ["Sci-Fi","Sci-Fi","Sci-Fi","Romance","War",
              "Thriller","Sci-Fi","Sci-Fi","Romance","Sci-Fi"],
    "Director": ["Nolan","Cameron","Nolan","Cameron","Nolan",
                 "Phillips","Cameron","Nolan","Cameron","Nolan"],
    "Rating": [9.0, 8.5, 9.3, 9.2, 8.0, 8.8, 8.3, 9.1, 9.0, 9.4]
}

df = pd.DataFrame(data)

print(df)
print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 1. Count number of movies per genre (NO groupby)
# ---------------------------------------------------------
print("1. Number of movies per genre:")

genres = df["Genre"].unique()

for g in genres:
    count = (df["Genre"] == g).sum()
    print(f"{g}: {count}")

print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 2. Average rating per movie (NO groupby)
# ---------------------------------------------------------
print("2. Average rating per movie:")

movies = df["Movie"].unique()

for m in movies:
    avg_rating = df.loc[df["Movie"] == m, "Rating"].mean()
    print(f"{m}: {avg_rating}")

print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 3. Movie with the highest rating
# ---------------------------------------------------------
print("3. Movie with the highest rating:")

max_rating = df["Rating"].max()
top_movie = df.loc[df["Rating"] == max_rating, "Movie"].iloc[0]

print(f"{top_movie} ({max_rating})")

print("------------------------------------------------------------------")


# ---------------------------------------------------------
# 4. Top 5 directors based on average movie ratings
# ---------------------------------------------------------
print("4. Top 5 directors based on average ratings:")

directors = df["Director"].unique()

director_avg = {}  # director → average rating

for d in directors:
    director_avg[d] = df.loc[df["Director"] == d, "Rating"].mean()

# Sort and pick top 5
top_directors = sorted(director_avg.items(), key=lambda x: x[1], reverse=True)[:5]

for d, rating in top_directors:
    print(f"{d}: {rating}")

print("------------------------------------------------------------------")

          Movie     Genre  Director  Rating
0     Inception    Sci-Fi     Nolan     9.0
1        Avatar    Sci-Fi   Cameron     8.5
2  Interstellar    Sci-Fi     Nolan     9.3
3       Titanic   Romance   Cameron     9.2
4       Dunkirk       War     Nolan     8.0
5         Joker  Thriller  Phillips     8.8
6        Avatar    Sci-Fi   Cameron     8.3
7     Inception    Sci-Fi     Nolan     9.1
8       Titanic   Romance   Cameron     9.0
9  Interstellar    Sci-Fi     Nolan     9.4
------------------------------------------------------------------
1. Number of movies per genre:
Sci-Fi: 6
Romance: 2
War: 1
Thriller: 1
------------------------------------------------------------------
2. Average rating per movie:
Inception: 9.05
Avatar: 8.4
Interstellar: 9.350000000000001
Titanic: 9.1
Dunkirk: 8.0
Joker: 8.8
------------------------------------------------------------------
3. Movie with the highest rating:
Interstellar (9.4)
------------------------------------------------------------------
4. Top 5 directors based on average ratings:
Nolan: 8.959999999999999
Phillips: 8.8
Cameron: 8.75
------------------------------------------------------------------

In [1]:
import pandas as pd
import numpy as np

# ----------------------------------------------------
# Create Employee DataFrame with missing values
# ----------------------------------------------------
data = {
    "Name": ["John", "Emma", "Liam", "Olivia", "Noah"],
    "Age": [28, np.nan, 35, np.nan, 40],
    "Salary": [50000, 62000, np.nan, 70000, np.nan],
    "Department": ["HR", "IT", None, "Finance", "IT"]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
print("--------------------------------------------------------")

# ----------------------------------------------------
# 1. Drop rows with ANY missing values
# ----------------------------------------------------
df_drop = df.dropna()
print("1. After dropping rows with missing values:")
print(df_drop)
print("--------------------------------------------------------")

# ----------------------------------------------------
# 2. Fill missing values
# - Age  → mean age
# - Salary → median salary
# - Others → specific value ("Unknown")
# ----------------------------------------------------
df_fill = df.copy()

mean_age = df_fill["Age"].mean()
median_salary = df_fill["Salary"].median()

df_fill["Age"].fillna(mean_age, inplace=True)
df_fill["Salary"].fillna(median_salary, inplace=True)
df_fill["Department"].fillna("Unknown", inplace=True)

print("2. After filling missing values (mean, median, specific value):")
print(df_fill)
print("--------------------------------------------------------")

# ----------------------------------------------------
# 3. Backward Fill
# ----------------------------------------------------
df_bfill = df.copy()
df_bfill = df_bfill.bfill()

print("3. After Backward Fill (bfill):")
print(df_bfill)
print("--------------------------------------------------------")

# ----------------------------------------------------
# 4. Forward Fill
# ----------------------------------------------------
df_ffill = df.copy()
df_ffill = df_ffill.ffill()

print("4. After Forward Fill (ffill):")
print(df_ffill)
print("--------------------------------------------------------")

Original DataFrame:
     Name   Age   Salary Department
0    John  28.0  50000.0         HR
1    Emma   NaN  62000.0         IT
2    Liam  35.0      NaN       None
3  Olivia   NaN  70000.0    Finance
4    Noah  40.0      NaN         IT
--------------------------------------------------------
1. After dropping rows with missing values:
   Name   Age   Salary Department
0  John  28.0  50000.0         HR
--------------------------------------------------------
2. After filling missing values (mean, median, specific value):
     Name        Age   Salary Department
0    John  28.000000  50000.0         HR
1    Emma  34.333333  62000.0         IT
2    Liam  35.000000  62000.0    Unknown
3  Olivia  34.333333  70000.0    Finance
4    Noah  40.000000  62000.0         IT
--------------------------------------------------------
3. After Backward Fill (bfill):
     Name   Age   Salary Department
0    John  28.0  50000.0         HR
1    Emma  35.0  62000.0         IT
2    Liam  35.0  70000.0    Finance
3  Olivia  40.0  70000.0    Finance
4    Noah  40.0      NaN         IT
--------------------------------------------------------
4. After Forward Fill (ffill):
     Name   Age   Salary Department
0    John  28.0  50000.0         HR
1    Emma  28.0  62000.0         IT
2    Liam  35.0  62000.0         IT
3  Olivia  35.0  70000.0    Finance
4    Noah  40.0  70000.0         IT
--------------------------------------------------------

/tmp/ipython-input-3333397172.py:38: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_fill["Age"].fillna(mean_age, inplace=True)
/tmp/ipython-input-3333397172.py:39: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_fill["Salary"].fillna(median_salary, inplace=True)
/tmp/ipython-input-3333397172.py:40: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_fill["Department"].fillna("Unknown", inplace=True)



```
#  Create a Pandas dataframe for IoT, Sensor data and execute following
 operation

*    Analyze average temperature, pressure, or humidity readings.

*    Identify anomalies in the sensor data over time.
*  Group sensor readings by location or machine and calculate metrics.


*    Sort sensor data by timestamp or severity.


```

In [2]:
import pandas as pd

# -------------------------------------------------------
#  Create IoT Sensor DataFrame
# -------------------------------------------------------
df = pd.DataFrame({
    "Timestamp": [1, 2, 3, 4, 5],
    "Location": ["M1", "M2", "M3", "M4", "M1"],
    "Temperature": [30.5, 45.0, 28.5, 80.0, 29.5],
    "Pressure":    [101.2, 150.0, 100.5, 160.0, 101.3],
    "Humidity":    [45, 47, 46, 90, 50]
})

print("\nOriginal Sensor Data:")
print(df)
print("-------------------------------------------------------")

# -------------------------------------------------------
# 1. Average Temperature, Pressure, Humidity
# -------------------------------------------------------
print("\n1. Average Readings:")

avg_temp  = df["Temperature"].mean()
avg_press = df["Pressure"].mean()
avg_humid = df["Humidity"].mean()

print("Average Temperature:", avg_temp)
print("Average Pressure   :", avg_press)
print("Average Humidity   :", avg_humid)
print("-------------------------------------------------------")

# -------------------------------------------------------
# 2. Identify anomalies using masks (NO NUMPY)
#    Rule: value > mean + 2 * std
# -------------------------------------------------------
print("\n2. Anomaly Detection:")

temp_th  = df["Temperature"].mean() + 2 * df["Temperature"].std()
press_th = df["Pressure"].mean()    + 2 * df["Pressure"].std()
humid_th = df["Humidity"].mean()    + 2 * df["Humidity"].std()

# Boolean masks
mask_temp  = df["Temperature"] > temp_th
mask_press = df["Pressure"]    > press_th
mask_humid = df["Humidity"]    > humid_th

print("\nTemperature Anomalies:")
print(df[mask_temp])

print("\nPressure Anomalies:")
print(df[mask_press])

print("\nHumidity Anomalies:")
print(df[mask_humid])
print("-------------------------------------------------------")

# -------------------------------------------------------
# 3. Metrics per location (NO GROUPBY)
# -------------------------------------------------------
print("\n3. Location-wise Metrics (NO groupby):")

locations = df["Location"].unique()

for loc in locations:
    data_loc = df[df["Location"] == loc]  # filter rows

    print(f"\nLocation: {loc}")
    print("Avg Temperature:", data_loc["Temperature"].mean())
    print("Avg Pressure   :", data_loc["Pressure"].mean())
    print("Avg Humidity   :", data_loc["Humidity"].mean())

print("-------------------------------------------------------")

# -------------------------------------------------------
# 4. Sorting Sensor Data
# -------------------------------------------------------
print("\n4A. Sort by Timestamp:")
print(df.sort_values(by="Timestamp"))

print("\n4B. Sort by Temperature (High → Low):")
print(df.sort_values(by="Temperature", ascending=False))

print("\n4C. Sort by Severity (Highest Pressure First):")
print(df.sort_values(by="Pressure", ascending=False))
print("-------------------------------------------------------")

Original Sensor Data:
   Timestamp Location  Temperature  Pressure  Humidity
0          1       M1         30.5     101.2        45
1          2       M2         45.0     150.0        47
2          3       M3         28.5     100.5        46
3          4       M4         80.0     160.0        90
4          5       M1         29.5     101.3        50
-------------------------------------------------------

1. Average Readings:
Average Temperature: 42.7
Average Pressure   : 122.6
Average Humidity   : 55.6
-------------------------------------------------------

2. Anomaly Detection:

Temperature Anomalies:
Empty DataFrame
Columns: [Timestamp, Location, Temperature, Pressure, Humidity]
Index: []

Pressure Anomalies:
Empty DataFrame
Columns: [Timestamp, Location, Temperature, Pressure, Humidity]
Index: []

Humidity Anomalies:
Empty DataFrame
Columns: [Timestamp, Location, Temperature, Pressure, Humidity]
Index: []
-------------------------------------------------------

3. Location-wise Metrics (NO groupby):

Location: M1
Avg Temperature: 30.0
Avg Pressure   : 101.25
Avg Humidity   : 47.5

Location: M2
Avg Temperature: 45.0
Avg Pressure   : 150.0
Avg Humidity   : 47.0

Location: M3
Avg Temperature: 28.5
Avg Pressure   : 100.5
Avg Humidity   : 46.0

Location: M4
Avg Temperature: 80.0
Avg Pressure   : 160.0
Avg Humidity   : 90.0
-------------------------------------------------------

4A. Sort by Timestamp:
   Timestamp Location  Temperature  Pressure  Humidity
0          1       M1         30.5     101.2        45
1          2       M2         45.0     150.0        47
2          3       M3         28.5     100.5        46
3          4       M4         80.0     160.0        90
4          5       M1         29.5     101.3        50

4B. Sort by Temperature (High → Low):
   Timestamp Location  Temperature  Pressure  Humidity
3          4       M4         80.0     160.0        90
1          2       M2         45.0     150.0        47
0          1       M1         30.5     101.2        45
4          5       M1         29.5     101.3        50
2          3       M3         28.5     100.5        46

4C. Sort by Severity (Highest Pressure First):
   Timestamp Location  Temperature  Pressure  Humidity
3          4       M4         80.0     160.0        90
1          2       M2         45.0     150.0        47
4          5       M1         29.5     101.3        50
0          1       M1         30.5     101.2        45
2          3       M3         28.5     100.5        46
-------------------------------------------------------